In [22]:
#df3 = pd.concat([df1,df2], ignore_index=True)
#faire la différeence de but entre domicile - externe
#data_frame_all['disf_but']=data_frame_all['but_domicie'] - data_frame_all['but_externe']

In [54]:
import pandas
import numpy

In [542]:
#on importe tous les dataset et on concatene
angers = pandas.read_csv('dataset-6-random-score-Angers.csv')
bordeaux = pandas.read_csv('dataset-6-random-score-Bordeaux.csv')
brest = pandas.read_csv('dataset-6-random-score-Brest.csv')
clermont = pandas.read_csv('dataset-6-random-score-Clermont.csv')
lens = pandas.read_csv('dataset-6-random-score-Lens.csv')
lille = pandas.read_csv('dataset-6-random-score-Lille.csv')
lorient = pandas.read_csv('dataset-6-random-score-Lorient.csv')
lyon = pandas.read_csv('dataset-6-random-score-Lyon.csv')
marseille = pandas.read_csv('dataset-6-random-score-Marseille.csv')
metz = pandas.read_csv('dataset-6-random-score-Metz.csv')
monaco = pandas.read_csv('dataset-6-random-score-Monaco.csv')
montpellier = pandas.read_csv('dataset-6-random-score-Montpellier.csv')
nantes = pandas.read_csv('dataset-6-random-score-Nantes.csv')
nice = pandas.read_csv('dataset-6-random-score-Nice.csv')
paris = pandas.read_csv('dataset-6-random-score-Paris-SG.csv')
reims = pandas.read_csv('dataset-6-random-score-Reims.csv')
rennes = pandas.read_csv('dataset-6-random-score-Rennes.csv')
etienne = pandas.read_csv('dataset-6-random-score-Saint-Etienne.csv')
strasbourg = pandas.read_csv('dataset-6-random-score-Strasbourg.csv')
troyes = pandas.read_csv('dataset-6-random-score-Troyes.csv')

#fusionner tous les data frame
data_frame = [angers,bordeaux,brest,clermont,lens,lille,lorient,lyon,marseille,metz,monaco,montpellier,nantes,nice,paris,reims,rennes,etienne,strasbourg,troyes]
data_frame_all = pandas.concat(data_frame, axis=0, ignore_index=True)
data_frame_all

    domicile        externe   but_domicile   but_externe
0     Angers       Paris-SG              5             3
1     Angers         Rennes              2             5
2     Angers      Marseille              3             5
3     Angers           Nice              1             3
4     Angers           Lens              0             2
..       ...            ...            ...           ...
375   Troyes        Lorient              5             0
376   Troyes       Clermont              3             3
377   Troyes       Bordeaux              2             4
378   Troyes           Metz              1             5
379   Troyes  Saint-Etienne              4             0

[380 rows x 4 columns]

In [214]:
#ramplacer la valeur Saint-Etienne par Saint_Etienne dans le dataframe complet
#df['salary']= df['salary'].replace([1000,1200],1500)

data_frame_all['domicile']=data_frame_all['domicile'].replace(['Saint-Etienne'],'Saint_Etienne')
data_frame_all[' externe']=data_frame_all[' externe'].replace(['Saint-Etienne'],'Saint_Etienne')
data_frame_all

    domicile        externe   but_domicile   but_externe
0     Angers       Paris-SG              5             3
1     Angers         Rennes              2             5
2     Angers      Marseille              3             5
3     Angers           Nice              1             3
4     Angers           Lens              0             2
..       ...            ...            ...           ...
375   Troyes        Lorient              5             0
376   Troyes       Clermont              3             3
377   Troyes       Bordeaux              2             4
378   Troyes           Metz              1             5
379   Troyes  Saint_Etienne              4             0

[380 rows x 4 columns]

In [215]:
#création d'une nouvelle collonne et y affecter la différence de but entre domicile et experne

but_externe=data_frame_all.iloc[:,3]
but_domicile=data_frame_all.iloc[:,2]

data_frame_all['diff_but']=but_domicile-but_externe
data_frame_all

    domicile        externe   but_domicile   but_externe  diff_but
0     Angers       Paris-SG              5             3         2
1     Angers         Rennes              2             5        -3
2     Angers      Marseille              3             5        -2
3     Angers           Nice              1             3        -2
4     Angers           Lens              0             2        -2
..       ...            ...            ...           ...       ...
375   Troyes        Lorient              5             0         5
376   Troyes       Clermont              3             3         0
377   Troyes       Bordeaux              2             4        -2
378   Troyes           Metz              1             5        -4
379   Troyes  Saint_Etienne              4             0         4

[380 rows x 5 columns]

In [216]:
#camcul et ajout colonne des points domicile et externe
data_frame_all['pt_domicile'] = [3 if but > 0 else 0 if but < 0 else 1 for but in data_frame_all['diff_but']]
data_frame_all['pt_externe']  = [3 if but < 0 else 0 if but > 0 else 1 for but in data_frame_all['diff_but']]
data_frame_all

,domicile,externe,but_domicile,but_externe,diff_but,pt_domicile,pt_externe
0,Angers,Paris-SG,5,3,2,3,0
1,Angers,Rennes,2,5,-3,0,3
2,Angers,Marseille,3,5,-2,0,3
3,Angers,Nice,1,3,-2,0,3
4,Angers,Lens,0,2,-2,0,3
...,...,...,...,...,...,...,...
375,Troyes,Lorient,5,0,5,3,0
376,Troyes,Clermont,3,3,0,1,1
377,Troyes,Bordeaux,2,4,-2,0,3
378,Troyes,Metz,1,5,-4,0,3
379,Troyes,Saint_Etienne,4,0,4,3,0

In [436]:
#filtres des dataframes par equipe avec les conditions 
filtre_PSG = data_frame_all[(data_frame_all[' externe']=='Paris-SG') | (data_frame_all['domicile']=='Paris-SG')]
filtre_Rennes = data_frame_all[(data_frame_all[' externe']=='Rennes') | (data_frame_all['domicile']=='Rennes')]
filtre_Marseille = data_frame_all[(data_frame_all[' externe']=='Marseille') | (data_frame_all['domicile']=='Marseille')]
filtre_Nice = data_frame_all[(data_frame_all[' externe']=='Nice') | (data_frame_all['domicile']=='Nice')]
filtre_Lens = data_frame_all[(data_frame_all[' externe']=='Lens') | (data_frame_all['domicile']=='Lens')]
filtre_Brest = data_frame_all[(data_frame_all[' externe']=='Brest') | (data_frame_all['domicile']=='Brest')]
filtre_Lille = data_frame_all[(data_frame_all[' externe']=='Lille') | (data_frame_all['domicile']=='Lille')]
filtre_Strasbourg = data_frame_all[(data_frame_all[' externe']=='Strasbourg') | (data_frame_all['domicile']=='Strasbourg')]
filtre_Monaco = data_frame_all[(data_frame_all[' externe']=='Monaco') | (data_frame_all['domicile']=='Monaco')]
filtre_Angers = data_frame_all[(data_frame_all[' externe']=='Angers') | (data_frame_all['domicile']=='Angers')]
filtre_Montpellier = data_frame_all[(data_frame_all[' externe']=='Montpellier') | (data_frame_all['domicile']=='Montpellier')]
filtre_Lyon = data_frame_all[(data_frame_all[' externe']=='Lyon') | (data_frame_all['domicile']=='Lyon')]
filtre_Nantes = data_frame_all[(data_frame_all[' externe']=='Nantes') | (data_frame_all['domicile']=='Nantes')]
filtre_Reims = data_frame_all[(data_frame_all[' externe']=='Reims') | (data_frame_all['domicile']=='Reims')]
filtre_Troyes = data_frame_all[(data_frame_all[' externe']=='Troyes') | (data_frame_all['domicile']=='Troyes')]
filtre_Lorient = data_frame_all[(data_frame_all[' externe']=='Lorient') | (data_frame_all['domicile']=='Lorient')]
filtre_Clermont = data_frame_all[(data_frame_all[' externe']=='Clermont') | (data_frame_all['domicile']=='Clermont')]
filtre_Bordeaux = data_frame_all[(data_frame_all[' externe']=='Bordeaux') | (data_frame_all['domicile']=='Bordeaux')]
filtre_Metz = data_frame_all[(data_frame_all[' externe']=='Metz') | (data_frame_all['domicile']=='Metz')]
filtre_Saint_Etienne = data_frame_all[(data_frame_all[' externe']=='Saint_Etienne') | (data_frame_all['domicile']=='Saint_Etienne')]
filtre_Angers
#df['sum'] = df.loc[df['x'] > 0,['x','y']].sum(axis=1)
#filtre_Angers.loc[].sum()

,domicile,externe,but_domicile,but_externe,diff_but,pt_domicile,pt_externe
0,Angers,Paris-SG,5,3,2,3,0
1,Angers,Rennes,2,5,-3,0,3
2,Angers,Marseille,3,5,-2,0,3
3,Angers,Nice,1,3,-2,0,3
4,Angers,Lens,0,2,-2,0,3
5,Angers,Brest,5,3,2,3,0
6,Angers,Lille,1,5,-4,0,3
7,Angers,Strasbourg,2,5,-3,0,3
8,Angers,Monaco,5,0,5,3,0
9,Angers,Montpellier,5,2,3,3,0
10,Angers,Lyon,3,3,0,1,1
11,Angers,Nantes,1,0,1,3,0
12,Angers,Reims,1,3,-2,0,3
13,Angers,Troyes,4,2,2,3,0
14,Angers,Lorient,5,4,1,3,0
15,Angers,Clermont,4,0,4,3,0
16,Angers,Bordeaux,1,3,-2,0,3
17,Angers,Metz,3,0,3,3,0
18,Angers,Saint_Etienne,0,1,-1,0,3
28,Bordeaux,Angers,3,4,-1,0,3
46,Brest,Angers,4,5,-1,0,3
66,Clermont,Angers,0,4,-4,0,3
84,Lens,Angers,0,0,0,1,1
103,Lille,Angers,2,3,-1,0,3
123,Lorient,Angers,2,2,0,1,1
142,Lyon,Angers,4,2,2,3,0
160,Marseille,Angers,5,1,4,3,0
180,Metz,Angers,5,4,1,3,0
198,Monaco,Angers,1,3,-2,0,3
218,Montpellier,Angers,5,2,3,3,0
237,Nantes,Angers,3,4,-1,0,3
255,Nice,Angers,4,1,3,3,0
274,Paris-SG,Angers,1,4,-3,0,3
294,Reims,Angers,4,1,3,3,0
312,Rennes,Angers,3,5,-2,0,3
332,Saint_Etienne,Angers,3,1,2,3,0
350,Strasbourg,Angers,5,0,5,3,0
370,Troyes,Angers,4,1,3,3,0

In [474]:
#Ici on filtre juste les matchs gagné et nul de chaque equipe

psg_win = filtre_PSG[(filtre_PSG[' externe']=='Paris-SG') & (filtre_PSG['pt_externe']>0) | (filtre_PSG['domicile']=='Paris-SG') & (filtre_PSG['pt_domicile']>0)]
psg_win['pt']=psg_win.iloc[:,5]+psg_win.iloc[:,6]
psg_win['pt']=psg_win['pt'].replace([2],1)

Rennes_win = filtre_Rennes[(filtre_Rennes[' externe']=='Rennes') & (filtre_Rennes['pt_externe']>0) | (filtre_Rennes['domicile']=='Rennes') & (filtre_Rennes['pt_domicile']>0)]
Rennes_win['pt']=Rennes_win.iloc[:,5]+Rennes_win.iloc[:,6]
Rennes_win['pt']=Rennes_win['pt'].replace([2],1)

Marseille_win = filtre_Marseille[(filtre_Marseille[' externe']=='Marseille') & (filtre_Marseille['pt_externe']>0) | (filtre_Marseille['domicile']=='Marseille') & (filtre_Marseille['pt_domicile']>0)]
Marseille_win['pt']=Marseille_win.iloc[:,5]+Marseille_win.iloc[:,6]
Marseille_win['pt']=Marseille_win['pt'].replace([2],1)

Nice_win = filtre_Nice[(filtre_Nice[' externe']=='Nice') & (filtre_Nice['pt_externe']>0) | (filtre_Nice['domicile']=='Nice') & (filtre_Nice['pt_domicile']>0)]
Nice_win['pt']=Nice_win.iloc[:,5]+Nice_win.iloc[:,6]
Nice_win['pt']=Nice_win['pt'].replace([2],1)

Lens_win = filtre_Lens[(filtre_Lens[' externe']=='Lens') & (filtre_Lens['pt_externe']>0) | (filtre_Lens['domicile']=='Lens') & (filtre_Lens['pt_domicile']>0)]
Lens_win['pt']=Lens_win.iloc[:,5]+Lens_win.iloc[:,6]
Lens_win['pt']=Lens_win['pt'].replace([2],1)

Brest_win = filtre_Brest[(filtre_Brest[' externe']=='Brest') & (filtre_Brest['pt_externe']>0) | (filtre_Brest['domicile']=='Brest') & (filtre_Brest['pt_domicile']>0)]
Brest_win['pt']=Brest_win.iloc[:,5]+Brest_win.iloc[:,6]
Brest_win['pt']=Brest_win['pt'].replace([2],1)

Lille_win = filtre_Lille[(filtre_Lille[' externe']=='Lille') & (filtre_Lille['pt_externe']>0) | (filtre_Lille['domicile']=='Lille') & (filtre_Lille['pt_domicile']>0)]
Lille_win['pt']=Lille_win.iloc[:,5]+Lille_win.iloc[:,6]
Lille_win['pt']=Lille_win['pt'].replace([2],1)

Strasbourg_win = filtre_Strasbourg[(filtre_Strasbourg[' externe']=='Strasbourg') & (filtre_Strasbourg['pt_externe']>0) | (filtre_Strasbourg['domicile']=='Strasbourg') & (filtre_Strasbourg['pt_domicile']>0)]
Strasbourg_win['pt']=Strasbourg_win.iloc[:,5]+Strasbourg_win.iloc[:,6]
Strasbourg_win['pt']=Strasbourg_win['pt'].replace([2],1)

Monaco_win = filtre_Monaco[(filtre_Monaco[' externe']=='Monaco') & (filtre_Monaco['pt_externe']>0) | (filtre_Monaco['domicile']=='Monaco') & (filtre_Monaco['pt_domicile']>0)]
Monaco_win['pt']=Monaco_win.iloc[:,5]+Monaco_win.iloc[:,6]
Monaco_win['pt']=Monaco_win['pt'].replace([2],1)

Angers_win = filtre_Angers[(filtre_Angers[' externe']=='Angers') & (filtre_Angers['pt_externe']>0) | (filtre_Angers['domicile']=='Angers') & (filtre_Angers['pt_domicile']>0)]
Angers_win['pt']=Angers_win.iloc[:,5]+Angers_win.iloc[:,6]
Angers_win['pt']=Angers_win['pt'].replace([2],1)

Montpellier_win = filtre_Montpellier[(filtre_Montpellier[' externe']=='Montpellier') & (filtre_Montpellier['pt_externe']>0) | (filtre_Montpellier['domicile']=='Montpellier') & (filtre_Montpellier['pt_domicile']>0)]
Montpellier_win['pt']=Montpellier_win.iloc[:,5]+Montpellier_win.iloc[:,6]
Montpellier_win['pt']=Montpellier_win['pt'].replace([2],1)

Lyon_win = filtre_Lyon[(filtre_Lyon[' externe']=='Lyon') & (filtre_Lyon['pt_externe']>0) | (filtre_Lyon['domicile']=='Lyon') & (filtre_Lyon['pt_domicile']>0)]
Lyon_win['pt']=Lyon_win.iloc[:,5]+Lyon_win.iloc[:,6]
Lyon_win['pt']=Lyon_win['pt'].replace([2],1)

Nantes_win = filtre_Nantes[(filtre_Nantes[' externe']=='Nantes') & (filtre_Nantes['pt_externe']>0) | (filtre_Nantes['domicile']=='Nantes') & (filtre_Nantes['pt_domicile']>0)]
Nantes_win['pt']=Nantes_win.iloc[:,5]+Nantes_win.iloc[:,6]
Nantes_win['pt']=Nantes_win['pt'].replace([2],1)

Reims_win = filtre_Reims[(filtre_Reims[' externe']=='Reims') & (filtre_Reims['pt_externe']>0) | (filtre_Reims['domicile']=='Reims') & (filtre_Reims['pt_domicile']>0)]
Reims_win['pt']=Reims_win.iloc[:,5]+Reims_win.iloc[:,6]
Reims_win['pt']=Reims_win['pt'].replace([2],1)

Troyes_win = filtre_Troyes[(filtre_Troyes[' externe']=='Troyes') & (filtre_Troyes['pt_externe']>0) | (filtre_Troyes['domicile']=='Troyes') & (filtre_Troyes['pt_domicile']>0)]
Troyes_win['pt']=Troyes_win.iloc[:,5]+Troyes_win.iloc[:,6]
Troyes_win['pt']=Troyes_win['pt'].replace([2],1)

Lorient_win = filtre_Lorient[(filtre_Lorient[' externe']=='Lorient') & (filtre_Lorient['pt_externe']>0) | (filtre_Lorient['domicile']=='Lorient') & (filtre_Lorient['pt_domicile']>0)]
Lorient_win['pt']=Lorient_win.iloc[:,5]+Lorient_win.iloc[:,6]
Lorient_win['pt']=Lorient_win['pt'].replace([2],1)

Clermont_win = filtre_Clermont[(filtre_Clermont[' externe']=='Clermont') & (filtre_Clermont['pt_externe']>0) | (filtre_Clermont['domicile']=='Clermont') & (filtre_Clermont['pt_domicile']>0)]
Clermont_win['pt']=Clermont_win.iloc[:,5]+Clermont_win.iloc[:,6]
Clermont_win['pt']=Clermont_win['pt'].replace([2],1)

Bordeaux_win = filtre_Bordeaux[(filtre_Bordeaux[' externe']=='Bordeaux') & (filtre_Bordeaux['pt_externe']>0) | (filtre_Bordeaux['domicile']=='Bordeaux') & (filtre_Bordeaux['pt_domicile']>0)]
Bordeaux_win['pt']=Bordeaux_win.iloc[:,5]+Bordeaux_win.iloc[:,6]
Bordeaux_win['pt']=Bordeaux_win['pt'].replace([2],1)

Metz_win = filtre_Metz[(filtre_Metz[' externe']=='Metz') & (filtre_Metz['pt_externe']>0) | (filtre_Metz['domicile']=='Metz') & (filtre_Metz['pt_domicile']>0)]
Metz_win['pt']=Metz_win.iloc[:,5]+Metz_win.iloc[:,6]
Metz_win['pt']=Metz_win['pt'].replace([2],1)

Saint_Etienne_win = filtre_Saint_Etienne[(filtre_Saint_Etienne[' externe']=='Saint_Etienne') & (filtre_Saint_Etienne['pt_externe']>0) | (filtre_Saint_Etienne['domicile']=='Saint_Etienne') & (filtre_Saint_Etienne['pt_domicile']>0)]
Saint_Etienne_win['pt']=Saint_Etienne_win.iloc[:,5]+Saint_Etienne_win.iloc[:,6]
Saint_Etienne_win['pt']=Saint_Etienne_win['pt'].replace([2],1)

C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  psg_win['pt']=psg_win.iloc[:,5]+psg_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  psg_win['pt']=psg_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Rennes_win['pt']=Rennes_win.iloc[:,5]+Rennes_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Rennes_win['pt']=Rennes_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Marseille_win['pt']=Marseille_win.iloc[:,5]+Marseille_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Marseille_win['pt']=Marseille_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nice_win['pt']=Nice_win.iloc[:,5]+Nice_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nice_win['pt']=Nice_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lens_win['pt']=Lens_win.iloc[:,5]+Lens_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lens_win['pt']=Lens_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Brest_win['pt']=Brest_win.iloc[:,5]+Brest_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Brest_win['pt']=Brest_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lille_win['pt']=Lille_win.iloc[:,5]+Lille_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lille_win['pt']=Lille_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strasbourg_win['pt']=Strasbourg_win.iloc[:,5]+Strasbourg_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Strasbourg_win['pt']=Strasbourg_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Monaco_win['pt']=Monaco_win.iloc[:,5]+Monaco_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Monaco_win['pt']=Monaco_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Angers_win['pt']=Angers_win.iloc[:,5]+Angers_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Angers_win['pt']=Angers_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Montpellier_win['pt']=Montpellier_win.iloc[:,5]+Montpellier_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Montpellier_win['pt']=Montpellier_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lyon_win['pt']=Lyon_win.iloc[:,5]+Lyon_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lyon_win['pt']=Lyon_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nantes_win['pt']=Nantes_win.iloc[:,5]+Nantes_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Nantes_win['pt']=Nantes_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Reims_win['pt']=Reims_win.iloc[:,5]+Reims_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Reims_win['pt']=Reims_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Troyes_win['pt']=Troyes_win.iloc[:,5]+Troyes_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Troyes_win['pt']=Troyes_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lorient_win['pt']=Lorient_win.iloc[:,5]+Lorient_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Lorient_win['pt']=Lorient_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clermont_win['pt']=Clermont_win.iloc[:,5]+Clermont_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Clermont_win['pt']=Clermont_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Bordeaux_win['pt']=Bordeaux_win.iloc[:,5]+Bordeaux_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Bordeaux_win['pt']=Bordeaux_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Metz_win['pt']=Metz_win.iloc[:,5]+Metz_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Metz_win['pt']=Metz_win['pt'].replace([2],1)
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Saint_Etienne_win['pt']=Saint_Etienne_win.iloc[:,5]+Saint_Etienne_win.iloc[:,6]
C:\Users\fkounga\AppData\Local\Temp/ipykernel_1336/2946870647.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Saint_Etienne_win['pt']=Saint_Etienne_win['pt'].replace([2],1)

,domicile,externe,but_domicile,but_externe,diff_but,pt_domicile,pt_externe,pt
57,Clermont,Paris-SG,0,4,-4,0,3,3
95,Lille,Paris-SG,0,4,-4,0,3,3
114,Lorient,Paris-SG,1,5,-4,0,3,3
133,Lyon,Paris-SG,1,2,-1,0,3,3
171,Metz,Paris-SG,2,4,-2,0,3,3
190,Monaco,Paris-SG,3,4,-1,0,3,3
266,Paris-SG,Rennes,0,0,0,1,1,1
267,Paris-SG,Marseille,3,0,3,3,0,3
268,Paris-SG,Nice,3,0,3,3,0,3
270,Paris-SG,Brest,2,2,0,1,1,1
273,Paris-SG,Monaco,5,4,1,3,0,3
277,Paris-SG,Nantes,5,3,2,3,0,3
279,Paris-SG,Troyes,2,0,2,3,0,3
280,Paris-SG,Lorient,3,1,2,3,0,3
281,Paris-SG,Clermont,4,1,3,3,0,3
361,Troyes,Paris-SG,4,4,0,1,1,1

In [522]:
#ici on créé le tableau recapitulatif du championat
recap_championat = pandas.read_csv('teams.csv')
recap_championat['POINTS'] = 0
recap_championat['JOURNEE'] = len(filtre_Angers.axes[0])
recap_championat['G WINS'] = 0
recap_championat['N NULS'] = 0
recap_championat['P LOSTS'] = 0
recap_championat['P BUTS MA'] = 0
recap_championat['C BUTS ENC'] = 0
recap_championat['DIFF'] = 0

In [524]:
#on compte les but de chaque equipe en faisant la somme des collonne des points calculés et on insere dans le tableau de recap
recap_championat.iloc[0,1] = psg_win['pt'].sum()
recap_championat.iloc[1,1] = Rennes_win['pt'].sum()
recap_championat.iloc[2,1] = Marseille_win['pt'].sum()
recap_championat.iloc[3,1] = Nice_win['pt'].sum()
recap_championat.iloc[4,1] = Lens_win['pt'].sum()
recap_championat.iloc[5,1] = Brest_win['pt'].sum()
recap_championat.iloc[6,1] = Lille_win['pt'].sum()
recap_championat.iloc[7,1] = Strasbourg_win['pt'].sum()
recap_championat.iloc[8,1] = Monaco_win['pt'].sum()
recap_championat.iloc[9,1] = Angers_win['pt'].sum()
recap_championat.iloc[10,1] = Montpellier_win['pt'].sum()
recap_championat.iloc[11,1] = Lyon_win['pt'].sum()
recap_championat.iloc[12,1] = Nantes_win['pt'].sum()
recap_championat.iloc[13,1] = Reims_win['pt'].sum()
recap_championat.iloc[14,1] = Troyes_win['pt'].sum()
recap_championat.iloc[15,1] = Lorient_win['pt'].sum()
recap_championat.iloc[16,1] = Clermont_win['pt'].sum()
recap_championat.iloc[17,1] = Bordeaux_win['pt'].sum()
recap_championat.iloc[18,1] = Metz_win['pt'].sum()
recap_championat.iloc[19,1] = Saint_Etienne_win['pt'].sum()

#on range le data frame par ordre decroissant
#print(df.sort_values(by=['Age'],ascending=False))

#recap_championat.sort_values(by=['POINTS'],ascending=False)
recap_championat

,CLUB;;;;;;,POINTS,JOURNEE,G WINS,N NULS,P LOSTS,P BUTS MA,C BUTS ENC,DIFF
0,Paris-SG;;;;;;,42,38,0,0,0,0,0,0
1,Rennes;;;;;;,51,38,0,0,0,0,0,0
2,Marseille;;;;;;,72,38,0,0,0,0,0,0
3,Nice;;;;;;,51,38,0,0,0,0,0,0
4,Lens;;;;;;,60,38,0,0,0,0,0,0
5,Brest;;;;;;,58,38,0,0,0,0,0,0
6,Lille;;;;;;,53,38,0,0,0,0,0,0
7,Strasbourg;;;;;;,82,38,0,0,0,0,0,0
8,Monaco;;;;;;,46,38,0,0,0,0,0,0
9,Angers;;;;;;,54,38,0,0,0,0,0,0
10,Montpellier;;;;;;,63,38,0,0,0,0,0,0
11,Lyon;;;;;;,48,38,0,0,0,0,0,0
12,Nantes;;;;;;,49,38,0,0,0,0,0,0
13,Reims;;;;;;,67,38,0,0,0,0,0,0
14,Troyes;;;;;;,38,38,0,0,0,0,0,0
15,Lorient;;;;;;,51,38,0,0,0,0,0,0
16,Clermont;;;;;;,48,38,0,0,0,0,0,0
17,Bordeaux;;;;;;,59,38,0,0,0,0,0,0
18,Metz;;;;;;,45,38,0,0,0,0,0,0
19,Saint-Etienne;;;;;;,54,38,0,0,0,0,0,0

In [525]:
#nombre de match gagné par equipe
recap_championat.iloc[0,3] = len(psg_win[psg_win['pt']==3])
recap_championat.iloc[1,3] = len(Rennes_win[Rennes_win['pt']==3])
recap_championat.iloc[2,3] = len(Marseille_win[Marseille_win['pt']==3])
recap_championat.iloc[3,3] = len(Nice_win[Nice_win['pt']==3])
recap_championat.iloc[4,3] = len(Lens_win[Lens_win['pt']==3])
recap_championat.iloc[5,3] = len(Brest_win[Brest_win['pt']==3])
recap_championat.iloc[6,3] = len(Lille_win[Lille_win['pt']==3])
recap_championat.iloc[7,3] = len(Strasbourg_win[Strasbourg_win['pt']==3])
recap_championat.iloc[8,3] = len(Monaco_win[Monaco_win['pt']==3])
recap_championat.iloc[9,3] = len(Angers_win[Angers_win['pt']==3])
recap_championat.iloc[10,3] = len(Montpellier_win[Montpellier_win['pt']==3])
recap_championat.iloc[11,3] = len(Lyon_win[Lyon_win['pt']==3])
recap_championat.iloc[12,3] = len(Nantes_win[Nantes_win['pt']==3])
recap_championat.iloc[13,3] = len(Reims_win[Reims_win['pt']==3])
recap_championat.iloc[14,3] = len(Troyes_win[Troyes_win['pt']==3])
recap_championat.iloc[15,3] = len(Lorient_win[Lorient_win['pt']==3])
recap_championat.iloc[16,3] = len(Clermont_win[Clermont_win['pt']==3])
recap_championat.iloc[17,3] = len(Bordeaux_win[Bordeaux_win['pt']==3])
recap_championat.iloc[18,3] = len(Metz_win[Metz_win['pt']==3])
recap_championat.iloc[19,3] = len(Saint_Etienne_win[Saint_Etienne_win['pt']==3])

#nombre de match null par equipe
recap_championat.iloc[0,4] = len(psg_win[psg_win['pt']==1])
recap_championat.iloc[1,4] = len(Rennes_win[Rennes_win['pt']==1])
recap_championat.iloc[2,4] = len(Marseille_win[Marseille_win['pt']==1])
recap_championat.iloc[3,4] = len(Nice_win[Nice_win['pt']==1])
recap_championat.iloc[4,4] = len(Lens_win[Lens_win['pt']==1])
recap_championat.iloc[5,4] = len(Brest_win[Brest_win['pt']==1])
recap_championat.iloc[6,4] = len(Lille_win[Lille_win['pt']==1])
recap_championat.iloc[7,4] = len(Strasbourg_win[Strasbourg_win['pt']==1])
recap_championat.iloc[8,4] = len(Monaco_win[Monaco_win['pt']==1])
recap_championat.iloc[9,4] = len(Angers_win[Angers_win['pt']==1])
recap_championat.iloc[10,4] = len(Montpellier_win[Montpellier_win['pt']==1])
recap_championat.iloc[11,4] = len(Lyon_win[Lyon_win['pt']==1])
recap_championat.iloc[12,4] = len(Nantes_win[Nantes_win['pt']==1])
recap_championat.iloc[13,4] = len(Reims_win[Reims_win['pt']==1])
recap_championat.iloc[14,4] = len(Troyes_win[Troyes_win['pt']==1])
recap_championat.iloc[15,4] = len(Lorient_win[Lorient_win['pt']==1])
recap_championat.iloc[16,4] = len(Clermont_win[Clermont_win['pt']==1])
recap_championat.iloc[17,4] = len(Bordeaux_win[Bordeaux_win['pt']==1])
recap_championat.iloc[18,4] = len(Metz_win[Metz_win['pt']==1])
recap_championat.iloc[19,4] = len(Saint_Etienne_win[Saint_Etienne_win['pt']==1])
recap_championat

#nombre de match PERDU par equipe
recap_championat['P LOSTS']=38-recap_championat.iloc[:,3]+recap_championat.iloc[:,4]

In [526]:
#calcul des but marque par equipe
def calcul_but_marks(data_teams, tag_teams):
    teams_but_dom_mark = data_teams[(data_teams['domicile']==tag_teams)]
    teams_but_ext_mark = data_teams[(data_teams[' externe']==tag_teams)]
    return teams_but_dom_mark[' but_domicile'].sum()+teams_but_ext_mark[' but_externe'].sum()


def ajout_but_marks(data_recap, data_list_teams):
    liste_teams=['Paris-SG', 'Rennes', 'Marseille', 'Nice', 'Lens', 'Brest', 'Lille', 'Strasbourg', 'Monaco', 'Angers', 'Montpellier', 'Lyon', 'Nantes', 'Reims', 'Troyes', 'Lorient', 'Clermont', 'Bordeaux', 'Metz', 'Saint_Etienne']
    nbr_ligne = 0
    data_all = data_recap
    while(nbr_ligne<20):
        data_all.iloc[nbr_ligne,6]=calcul_but_marks(data_list_teams[nbr_ligne], liste_teams[nbr_ligne])
        nbr_ligne=nbr_ligne+1
    return data_all

#for n in filtre_data_teams:
#    print(n)
ajout_but_marks(recap_championat, filtre_data_teams)



#calcul des but encaissé par equipe
def calcul_but_lost(data_teams, tag_teams):
    teams_but_dom_lost = data_teams[(data_teams[' externe']==tag_teams)]
    teams_but_ext_lost = data_teams[(data_teams['domicile']==tag_teams)]
    return teams_but_dom_lost[' but_domicile'].sum()+teams_but_ext_lost[' but_externe'].sum()


def ajout_but_lost(data_recap, data_list_teams):
    liste_teams=['Paris-SG', 'Rennes', 'Marseille', 'Nice', 'Lens', 'Brest', 'Lille', 'Strasbourg', 'Monaco', 'Angers', 'Montpellier', 'Lyon', 'Nantes', 'Reims', 'Troyes', 'Lorient', 'Clermont', 'Bordeaux', 'Metz', 'Saint_Etienne']
    nbr_ligne = 0
    data_all = data_recap
    while(nbr_ligne<20):
        data_all.iloc[nbr_ligne,7]=calcul_but_lost(data_list_teams[nbr_ligne], liste_teams[nbr_ligne])
        nbr_ligne=nbr_ligne+1
    return data_all

#for n in filtre_data_teams:
#    print(n)
ajout_but_lost(recap_championat, filtre_data_teams)

,CLUB;;;;;;,POINTS,JOURNEE,G WINS,N NULS,P LOSTS,P BUTS MA,C BUTS ENC,DIFF
0,Paris-SG;;;;;;,42,38,13,3,28,84,91,0
1,Rennes;;;;;;,51,38,14,9,33,88,99,0
2,Marseille;;;;;;,72,38,23,3,18,120,94,0
3,Nice;;;;;;,51,38,15,6,29,99,104,0
4,Lens;;;;;;,60,38,19,3,22,96,100,0
5,Brest;;;;;;,58,38,17,7,28,110,101,0
6,Lille;;;;;;,53,38,15,8,31,105,95,0
7,Strasbourg;;;;;;,82,38,27,1,12,108,72,0
8,Monaco;;;;;;,46,38,14,4,28,85,107,0
9,Angers;;;;;;,54,38,17,3,24,98,107,0
10,Montpellier;;;;;;,63,38,20,3,21,94,85,0
11,Lyon;;;;;;,48,38,14,6,30,101,105,0
12,Nantes;;;;;;,49,38,14,7,31,86,106,0
13,Reims;;;;;;,67,38,21,4,21,103,89,0
14,Troyes;;;;;;,38,38,11,5,32,105,113,0
15,Lorient;;;;;;,51,38,16,3,25,92,84,0
16,Clermont;;;;;;,48,38,14,6,30,74,90,0
17,Bordeaux;;;;;;,59,38,17,8,29,114,104,0
18,Metz;;;;;;,45,38,14,3,27,72,84,0
19,Saint-Etienne;;;;;;,54,38,16,6,28,91,95,0

In [540]:
#On calcule le goald adverage et on ordone du premier au dernier
recap_championat['DIFF']=recap_championat.iloc[:,6]-recap_championat.iloc[:,7]
recap_championat.sort_values(by=['POINTS'], ascending=False)
#recap_championat.sort_index(inplace=True)

,CLUB;;;;;;,POINTS,JOURNEE,G WINS,N NULS,P LOSTS,P BUTS MA,C BUTS ENC,DIFF
7,Strasbourg;;;;;;,82,38,27,1,12,108,72,36
2,Marseille;;;;;;,72,38,23,3,18,120,94,26
13,Reims;;;;;;,67,38,21,4,21,103,89,14
10,Montpellier;;;;;;,63,38,20,3,21,94,85,9
4,Lens;;;;;;,60,38,19,3,22,96,100,-4
17,Bordeaux;;;;;;,59,38,17,8,29,114,104,10
5,Brest;;;;;;,58,38,17,7,28,110,101,9
9,Angers;;;;;;,54,38,17,3,24,98,107,-9
19,Saint-Etienne;;;;;;,54,38,16,6,28,91,95,-4
6,Lille;;;;;;,53,38,15,8,31,105,95,10
15,Lorient;;;;;;,51,38,16,3,25,92,84,8
3,Nice;;;;;;,51,38,15,6,29,99,104,-5
1,Rennes;;;;;;,51,38,14,9,33,88,99,-11
12,Nantes;;;;;;,49,38,14,7,31,86,106,-20
11,Lyon;;;;;;,48,38,14,6,30,101,105,-4
16,Clermont;;;;;;,48,38,14,6,30,74,90,-16
8,Monaco;;;;;;,46,38,14,4,28,85,107,-22
18,Metz;;;;;;,45,38,14,3,27,72,84,-12
0,Paris-SG;;;;;;,42,38,13,3,28,84,91,-7
14,Troyes;;;;;;,38,38,11,5,32,105,113,-8

In [541]:
recap_championat.to_csv('ranking.csv')